.bg {/*定义视差背景图片组*/
    @media screen and (orientation: portrait) {/*竖屏背景*/
        .topnav a {
            left: 0;
        }

        .img1 {
            background-image: url('image/bg/xy_phone.jpg');
            background-attachment: fixed;
            background-size: cover;
            background-position: center center;
        }

        .img2 {
            background-image: url('image/bg/ylb_phone.jpg');
            background-attachment: fixed;
            background-size: cover;
            background-position: center center;
        }

        .img3 {
            background-image: url('image/bg/rn_phone.jpg');
            background-attachment: fixed;
            background-size: cover;
            background-position: center center;
        }

        .img4 {
            background-image: url('image/bg/tzxd_phone.jpg');
            background-attachment: fixed;
            background-size: cover;
            background-position: center center;
        }

        .img5 {
            background-image: url('image/bg/fll_phone.jpg');
            background-attachment: fixed;
            background-size: cover;
            background-position: center center;
        }

        .img6 {
            background-image: url('image/bg/cywl_phone.jpg');
            background-attachment: fixed;
            background-size: cover;
            background-position: center center;
        }

        .img7 {
            background-image: url('image/bg/xya_phone.jpg');
            background-attachment: fixed;
            background-size: cover;
            background-position: center center;
        }

        .img8 {
            background-image: url('image/bg/myn_phone.jpg');
            background-attachment: fixed;
            background-size: cover;
            background-position: center center;
        }

        .img9 {
            background-image: url('image/bg/gl_phone.jpg');
            background-attachment: fixed;
            background-size: cover;
            background-position: center center;
        }

        .img10 {
            background-image: url('image/bg/stl_phone.jpg');
            background-attachment: fixed;
            background-size: cover;
            background-position: center center;
        }

        .img11 {
            background-image: url('image/bg/vrt_phone.jpg');
            background-attachment: fixed;
            background-size: cover;
            background-position: center center;
        }
    }
    @media screen and (orientation: landscape) {/*横屏背景*/
        .topnav a {
            left:auto;
        }

        .img1 {
            background-image: url('image/bg/xy_pc.jpg');
            background-attachment: fixed;
            background-size: cover;
            background-position: center center;
        }

        .img2 {
            background-image: url('image/bg/ylb_pc.jpg');
            background-attachment: fixed;
            background-size: cover;
            background-position: center center;
        }

        .img3 {
            background-image: url('image/bg/rn_pc.jpg');
            background-attachment: fixed;
            background-size: cover;
            background-position: center center;
        }

        .img4 {
            background-image: url('image/bg/tzxd_pc.jpg');
            background-attachment: fixed;
            background-size: cover;
            background-position: center center;
        }

        .img5 {
            background-image: url('image/bg/fll_pc.jpg');
            background-attachment: fixed;
            background-size: cover;
            background-position: center center;
        }

        .img6 {
            background-image: url('image/bg/cywl_pc.jpg');
            background-attachment: fixed;
            background-size: cover;
            background-position: center center;
        }

        .img7 {
            background-image: url('image/bg/xya_pc.jpg');
            background-attachment: fixed;
            background-size: cover;
            background-position: center center;
        }

        .img8 {
            background-image: url('image/bg/myn_pc.jpg');
            background-attachment: fixed;
            background-size: cover;
            background-position: center center;
        }

        .img9 {
            background-image: url('image/bg/gl_pc.jpg');
            background-attachment: fixed;
            background-size: cover;
            background-position: center center;
        }

        .img10 {
            background-image: url('image/bg/stl_pc.jpg');
            background-attachment: fixed;
            background-size: cover;
            background-position: center center;
        }

        .img11 {
            background-image: url('image/bg/vrt_pc.jpg');
            background-attachment: fixed;
            background-size: cover;
            background-position: center center;
        }
    }

    section {
        height: 100vh;
        background: rgba(0, 0, 0, .7);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    margin: 0;
    padding: 0;
}


.hugetext {/*文本方面*/
    font-size: 100px;
}

h1 {
    text-shadow: 10px 10px 5px grey;
}
h2 {
    text-shadow: 5px 5px 2px grey;
}
li {
    font-size: 20px;
    text-shadow: 1px 1px 1px grey;
}

        
.enter {/*文字缩放进入动画 */
    margin-top: 120px;
    text-align: center;
    /* 贝塞尔曲线动画 */
    animation: enterenter 2s infinite cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation-iteration-count: 1; /* 动画只执行一次 */
    animation-fill-mode: forwards; /* 动画结束后停留在最后一帧 */
}
@keyframes enterenter {
    0% {
        /* 加上文字间距 */
        letter-spacing: 1em;
        /* Z轴变换 */
        transform: translateZ(300px);
        /* filter: blur(); 像素模糊效果 */
        filter: blur(12px);
        /* 透明度也要改变 */
        opacity: 0;
    }

    100% {
        transform: translateZ(12px);
        filter: blur(0);
        opacity: 1;
    }
}
.leave {/*文字缩放离开动画 */
    text-align: center;
    animation: leaveleave 2s infinite cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation-iteration-count: 1; /* 动画只执行一次 */
    animation-fill-mode: forwards; /* 动画结束后停留在最后一帧 */
}

@keyframes leaveleave {
    0% {
        transform: translateZ(0);
        filter: blur(0.01);
    }

    100% {
        letter-spacing: 1em;
        transform: translateZ(300px);
        filter: blur(12px) opacity(0%);
    }
}


.fade {
    opacity: 0; /* 元素一开始是透明的 */
    animation: none; /* 初始状态没有动画 */
}
/* 使用 enter 动画 */
.fade.visible-in {
    animation: enterenter 2s infinite cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation-iteration-count: 1; /* 动画只执行一次 */
    animation-fill-mode: forwards; /* 动画结束后停留在最后一帧 */
}
.fade.visible-out {
    animation: leaveleave 2s infinite cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation-iteration-count: 1; /* 动画只执行一次 */
    animation-fill-mode: forwards; /* 动画结束后停留在最后一帧 */
}



span {/* 文字抖动动画 */
    animation: rotate 1s ease infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }

    20% {
        transform: rotate(-1deg);
    }

    60% {
        transform: rotate(0);
    }

    80% {
        transform: rotate(1deg);
    }

    100% {
        transform: rotate(0);
    }
}

span:nth-child(2) {
    margin-left: 108px;
}

span:nth-child(3) {
    margin-left: 216px;
}

h2 {
    /* 本例12个文字(加标点符号)；有多少个文字，width就是多少个em */
    width: 8em;
    /* 加上两个动画，一个是打字动画，使用steps让字一个一个的出现，
        注意step和字数保持一致，光标动画也是同理，*/
    animation: typingWords 10s steps(12) infinite, cursor 0.5s steps(1) infinite;
    /* 要设置不允许换行，且溢出隐藏 */
    white-space: nowrap;
    overflow: hidden;
}

@keyframes typingWords {
    0% {
        width: 0;
    }
}

@keyframes cursor {
    50% {
        border-color: transparent;
    }
}


/* 为顶部导航添加黑色背景色 */
.topnav {
  background-color: #333;
  overflow: hidden;
  position: sticky;
  height: 40px;
  top: 0;
  z-index: 1000;
}

/* 设置导航栏中链接的样式 */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  position: fixed;
  top: 0;
  padding: 10px 20px;
}

/* 更改鼠标悬停时链接的颜色 */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* 为活动/当前链接添加颜色 */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}